body,.dashboard-body,.footer,.header,.dashboard-panel,.dashboard-cell {
	color: #ddd;
	background: #222 !important;
}

a {
	/* color: #ccc; */
}

a:hover {
	color: #fff;
}

.dashboard-panel h2.panel-title {
  border-bottom: none !important;
}


/*
div.appbar, div.shared-appbar {
	color: #ddd;
	background-color: #121 !important;
}
*/

/* Row Coloring */
#highlighteable tr td {
    /* background-color: #c1ffc3 !important; */
}
#highlighteable tr.flagged td {
    background-color: #a02323 !important;
}
#highlighteable .table td {
    /* border-top: 1px solid #fff; */
}
#highlighteable td.flagged {
    font-weight: bold;
}

#highlighteable td.intel-feed {
    color: #FF0;
}

div.dashboard-header {
  /* background-image: url("traffic-ray-logo.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 1px;
}

p#investigating-text {
	text-align: center;
	color: #ff3;
}

div.app-bar {
	background-color: #888;
}

div.splunk-radiogroup, div.splunk-choice-input {
	padding-bottom: 0;
}

.dashboard-row .dashboard-panel .panel-head h3,.dashboard-header h2, p.description, .nav-footer>li>a {
	color: #ddd;
	text-shadow: none;
}

div.splunk-textinput input {
	background-color: #ff7;
}
div#field1 div.splunk-textinput input, div#input1 div.splunk-textinput input {
	background-color: #f77;
}

div#field2 div.splunk-textinput input, div#input2 div.splunk-textinput input {
	background-color: #7f7;
}

div.input label, div.input-text label, div.splunk-view label {
	font-size:95%;
	/* font-weight: bold; */
}

div#dashboard div.fieldset {
	border: 1px solid #444;
	background-color: #282828 !important;
	padding: 5px;
	border-radius: 8px;
}

div#dashboard div.dashboard-row div.dashboard-cell div.dashboard-panel  {
	border: 1px solid #444;
	background-color: #282828 !important;
	border-radius: 8px;
	box-shadow: 0 0 3px #555;
}


div.panel-body table.table {
	font-size: 95%;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #121212 !important;
}
.table .table, .table-striped>tbody>tr>td {
    color: white;
}
.table .table, .table-striped>tbody>tr:nth-child(even)>td {
	background-color: #1c1c1c !important;
}
.table-chrome > thead > tr > th {
	background-image: linear-gradient(to bottom, #666, #444);
	color: white !important;
	text-shadow: none;
}

#table_summary_data table tbody tr.highlighted td, 
#table_summary_data table tbody tr:focus td
{
  background-color: #15334d !important;
  color: inherit !important;
}

div.splunk-table .shared-resultstable-resultstablemaster > .table-chrome > tbody > tr > td {
	white-space: nowrap;
}

div#table_drilldown_ip table > tbody > tr > td, 
div#table_drilldown_ip1 table > tbody > tr > td, 
div#table_drilldown_ip2 table > tbody > tr > td, 
div#table_drilldown_site table > tbody > tr > td,
div#table_drilldown_site1 table > tbody > tr > td,
div#table_drilldown_site2 table > tbody > tr > td {
	white-space: normal;
}

.table-chrome > tbody > tr > td:hover {
	color:#ff2;
}

.table-chrome > thead > tr > th:hover {
	background-image: linear-gradient(to bottom, #444, #222) !important;
	color: white !important;
	text-shadow: none;
}
.table-chrome .sorts a {
	text-decoration: none;
	color: #ddd;
}
.highlighted td {
	background: #aaa !important;
}
svg>rect {
	fill: #222 !important;
}
svg text {
	fill: #fff !important;
}
.single-value .single-result {
	color: #fff;
}
.splunk-paginator a.selected {
	background: #000;
}

div.splunk-table .shared-resultstable-resultstablemaster > .table-chrome > tbody > tr > td {
	white-space: nowrap;
}

.single .splunk-single {
    border: 1px solid #444;
    border-radius:8px;
    margin: 0 10px;
}

.single-value span.single-result {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color:#FF7979;
}

.single-value .under-label {
    font-size: 16px !important;
}

#element3 .single-value span.single-result {
    color:#3D92DB;
}

.single {
    width:100% !important;
}

span.under-label {
  display:block;
  padding-top:4px;
}

.panel-body.html, .panel-body.html h1, .panel-body.html h2, .panel-body.html h3 {
  margin: 0;
  padding-bottom: 0 !important;
}

.drilldown-value {
  color: #FF7979;
  font-weight: bold;
}

#table_summary_data td.ip-cell {
  color: #fcdd77;
  font-size:120%;
}
#table_summary_data td.site-cell {
  color: #fcdd77;
  font-size:120%;
}

#table_summary_data td.hits-cell {
  color: #FF7979;
  font-size:110%;
}

#table_summary_data td.bandwidth-cell {
  color: #3D92DB;
  font-size:110%;
}
